:root {
  --color-background: #343434;
  --color-text: #f5f5f5;
  --color-primary: #4b8ca3;
  --color-primary-transparent: hwb(196 29% 36% / 0.5);
  --color-secondary: #8ca34b;
  --color-ternary: #414141;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: clamp(
    16px,
    calc(16px + (18 - 16) * ((100vw - 320px) / (1600 - 320))),
    18px
  );
  background-color: var(--color-background);
  background-image: url("./assets/diagmonds.png");
  color: var(--color-text);
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-background);
}

.container {
  width: 90%;
  padding: 1em;
  max-width: 1200px;
  margin: 4em auto 0;
  scroll-margin-top: 80px;
}

.container:last-of-type {
  margin-bottom: 2em;
}

.technologies-item.visible,
.project.visible {
  opacity: 1;
  transform: translateY(0);
}

.background {
  background-color: var(--color-ternary);
  border-radius: 5px;
}

.subtitle {
  width: fit-content;
  margin-bottom: 2em;
  font-family: "Outfit", sans-serif;
}

.underline {
  height: 0.2em;
  width: 60%;
  background-color: var(--color-primary);
  border-radius: 2px;
}

.accent {
  color: var(--color-primary);
  font-weight: bold;
}

.section-info {
  width: fit-content;
  margin: 2em auto;
}

/* media queries */

@media (min-width: 768px) {
  .container {
    margin: 6em auto 0;
  }

  .container:last-of-type {
    margin-bottom: 4em;
  }
}
@media (min-width: 1024px) {
  .container {
    margin: 8em auto 0;
  }

  .container:last-of-type {
    margin-bottom: 6em;
  }
}
